* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;}




nav {
	display: block;
}
footer {
	display: block;
}
header {
	display: block;
}
aside {
	display: block;
}
html {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	
}
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
}
input {
	font-family: inherit;
	
}
button {
	font-family: inherit;
	cursor: pointer;
}
textarea {
	font-family: inherit;
}
	li {
		list-style: none;
	}

img {
	vertical-align: top;
}
h1 {
	font-size: inherit;
	font-weight: 400;
}
h2 {
	font-size: inherit;
	font-weight: 400;
}
h3 {
	font-size: inherit;
	font-weight: 400;
}
h4 {
	font-size: inherit;
	font-weight: 400;
}
h5 {
	font-size: inherit;
	font-weight: 400;
}
h6 {
	font-size: inherit;
	font-weight: 400;
}
